[submodule "In-Flight Birds Detection, Species Detection, and Counting"]
	path = In-Flight Birds Detection, Species Detection, and Counting
	url = https://github.com/AbdullahTabassam/In-flight_Bird_Species_Detection_Counting_
[submodule "Volume Control with Computer Vision"]
	path = Volume Control with Computer Vision
	url = https://github.com/AbdullahTabassam/Volume-Control-Using-Computer-Vision
[submodule "Lungs Tumor Segmentation"]
	path = Lungs Tumor Segmentation
	url = https://github.com/AbdullahTabassam/Lungs_Tumor_Segmentation_Computer_Vision
[submodule "ORB Feature Mapping"]
	path = ORB Feature Mapping
	url = https://github.com/AbdullahTabassam/Feature_Mapping_ORB_Computer_Vision
[submodule "Eulerian Magnification for BPM"]
	path = Eulerian Magnification for BPM
	url = https://github.com/AbdullahTabassam/BPM_Eulerian_Magnification_Computer_Vision
[submodule "YOLO UK Birds Detection"]
	path = YOLO UK Birds Detection
	url = https://github.com/AbdullahTabassam/Yolo_Bird_detection
[submodule "Sign Language Detection"]
	path = Sign Language Detection
	url = https://github.com/AbdullahTabassam/Sign_language_Object_Detection
[submodule "Tensorflow UK Birds Detection"]
	path = Tensorflow UK Birds Detection
	url = https://github.com/AbdullahTabassam/Custom-Object-Detection
[submodule "3D Reconstruction"]
	path = 3D Reconstruction
	url = https://github.com/AbdullahTabassam/3D-Recontruction